name: Latest blog post workflow
on:
  schedule:
    # Runs at 00:05 every Sunday
    - cron: '5 0 * * Sun'

jobs:
  update-readme-with-blog:
    name: Update this repo's README with latest blog posts
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: gautamkrishnar/blog-post-workflow@master
        with:
          feed_list: "https://nathaneastwood.github.io/index.xml"
